<!DOCTYPE html>
<html>
   <head>
      <title>
         Softdes Ninja Survey
      </title>
   </head>
<body>
   <h1>Softdes ninja survey</h1>
   <p>Hello, Welcome to the softdes ninja survey</p>
   <form action="/login" method="post">
     First name:<br>
     <input type="text" name = "firstname"><br>
     Age:<br>
     <input type="text" name = "age"><br>
     Favorite Softdes Ninja:<br>
     <input type="text" name = "favoriteninja"><br>
     <button>Submit</button>
   </form>

</body>
</html>
