<!--Input form that requests name, age, and favorite softdes Ninja-->

<!DOCTYPE html>
<html>
   <head>
      <title>
         Index Page 
      </title>
   </head>
<body>
   Hello! Please fill this out:
   <form action="/login" method="post">
   	Name:</br>
   	<input type="text" name="yourname"><br>
   	Age:</br>
   	<input type="text" name="yourage"><br>
   	Favorite softdes NINJA:</br>
   	<input type="text" name="ninja"><br>
      <input type="submit" value="Submit">
   </form>
</body>
</html>